# Google C/C++ Code Style settings
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
Standard: c++17
BasedOnStyle: Google
IncludeCategories:
  - Regex:           '^<[a-z_]*>'
    Priority:        1
  - Regex:           '^(<|")em/.*("|>)'
    Priority:        2
